
<div th:replace="~{/shared/header}"></div>

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800 text-center">Edição de usuário</h1>

	<!-- DataTales Example -->
	<div class="row justify-content-center">
		<div class="card shadow mb-4 py-3 px-5" style="width: 50%">
			<form method="POST" th:action="@{'/alterar/' + ${usuario?.desCpf}}" >
				<div class="form-group">
					<label for="exampleInputEmail1">Nome</label> <input type="text"
						class="form-control" id="desNome"
						placeholder="Nome completo" required name="desNome" th:value="${usuario?.desNome}">
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1">CPF</label> <input type="text"
						class="form-control cpf" placeholder="CPF válido" required name="desCpf" th:value="${usuario?.desCpf}">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">Senha</label> <input
						type="password" class="form-control" id="exampleInputPassword1"
						placeholder="Senha" required name="desSenha" th:value="${usuario?.desSenha}">
				</div>

				<div class="form-group">
					<label for="validationCustom04" class="form-label">Tipo de
						usuário</label> <select class="form-control" id="indTipoUsuario"
						name="indTipo" required>
						<option value="1" th:selected="${usuario?.indTipo == 1}">Cliente</option>
						<option value="2" th:selected="${usuario?.indTipo == 2}">Administrador</option>

					</select>
				</div>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
	</div>

</div>
<!-- /.container-fluid -->


<div th:replace="~{shared/footer}"></div>
